.planet_black		{ background-image: url("./planets/black.png"); }
.planet_blue		{ background-image: url("./planets/blue.png"); }
.planet_green		{ background-image: url("./planets/green.png"); }
.planet_grey		{ background-image: url("./planets/grey.png"); }
.planet_orange		{ background-image: url("./planets/orange.png"); }

.imageset.icon_favorite_add {
	padding-left: 16px;
	padding-top: 16px;
	background-image: url("./quick_add.png");
}

.imageset.icon_favorite_remove {
	padding-left: 16px;
	padding-top: 16px;
	background-image: url("./quick_remove.png");
}
