.planet_black		{ background-image: url("./planets/black.png"); }
.planet_blue		{ background-image: url("./planets/blue.png"); }
.planet_green		{ background-image: url("./planets/green.png"); }
.planet_grey		{ background-image: url("./planets/grey.png"); }
.planet_orange		{ background-image: url("./planets/orange.png"); }
