<!-- INCLUDE space_header.html -->

<h2>{L_TITLE}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<ul class="topiclist">
		<li class="header">
			<dl>
				<dd class="posts"></dd>
				<dt<!-- IF S_ALLY_STATS --> style="margin-right: -490px;"<!-- ENDIF -->><!-- IF S_ALLY_STATS -->{L_ALLIANCE_NAME}<!-- ELSE -->{L_USER_NAME}<!-- ENDIF --></dt>
				<!-- IF S_ALLY_STATS --><dd class="posts"><a href="{SORT_MEMBERS}">{L_ALLIANCE_MEMBERS}</a></dd><!-- ENDIF -->
				<dd class="posts"><a href="{SORT_BUILDING_POINTS}">{L_BUILDING_POINTS}</a><!-- IF S_ALLY_STATS --><br /><a href="{SORT_BUILDING_POINTS_PM}">{L_PER_MEMBER}</a><!-- ENDIF --></dd>
				<dd class="posts"><a href="{SORT_TECHNOLOGY_POINTS}">{L_TECHNOLOGY_POINTS}</a><!-- IF S_ALLY_STATS --><br /><a href="{SORT_TECHNOLOGY_POINTS_PM}">{L_PER_MEMBER}</a><!-- ENDIF --></dd>
				<dd class="posts"><a href="{SORT_BATTLE_POINTS}">{L_BATTLE_POINTS}</a><!-- IF S_ALLY_STATS --><br /><a href="{SORT_BATTLE_POINTS_PM}">{L_PER_MEMBER}</a><!-- ENDIF --></dd>
				<dd class="posts"><a href="{SORT_TOTAL_POINTS}">{L_TOTAL_POINTS}</a><!-- IF S_ALLY_STATS --><br /><a href="{SORT_TOTAL_POINTS_PM}">{L_PER_MEMBER}</a><!-- ENDIF --></dd>
			</dl>
		</li>
	</ul>

	<ul class="topiclist cplist">
	<!-- BEGIN userrow -->
		<li class="row<!-- IF userrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<dl>
				<!-- IF not S_ALLY_STATS -->
					<dd class="posts" style="line-height: 1.0em; padding: 0px;">{userrow.TOTAL_PLACE}<br />{userrow.TOTAL_PLACE_ADD}</dd>
				<!-- ELSE -->
					<dd class="posts" style="line-height: 1.0em; padding: 0px;">&nbsp;</dd>
				<!-- ENDIF -->
				<dt<!-- IF S_ALLY_STATS --> style="margin-right: -490px;"<!-- ENDIF -->>
					<!-- IF userrow.S_IS_NOOB --><img src="{T_IMAGES_PATH}space/new.png" alt="{L_GALAXY_NOOB}" title="{L_GALAXY_NOOB_LONG}" /><!-- ENDIF -->
					<!-- IF userrow.S_IS_PROTECTED --><img src="{T_IMAGES_PATH}space/protected.png" alt="{L_GALAXY_PROTECTED}" title="{L_GALAXY_PROTECTED_LONG}" /><!-- ENDIF -->
					<!-- IF userrow.S_IS_VACATION --><img src="{T_IMAGES_PATH}space/vacation.png" alt="{L_GALAXY_VACATION}" title="{L_GALAXY_VACATION_LONG}" />&nbsp;<!-- ENDIF -->
					<strong>{userrow.USERNAME}<!-- IF userrow.ALLY_TAG --> [{userrow.ALLY_TAG}]<!-- ENDIF --></strong>
				</dt>
				<!-- IF S_ALLY_STATS --><dd class="posts" style="line-height: 1.0em; padding: 0px;">{userrow.MEMBERS}</dd><!-- ENDIF -->
				<dd class="posts" style="line-height: 1.0em; padding: 0px;">{userrow.BUILDING_POINTS}<br /><!-- IF S_ALLY_STATS -->{userrow.BUILDING_POINTS_PM}<!-- ELSE -->{userrow.BUILDING_POINTS_ADD}<!-- ENDIF --></dd>
				<dd class="posts" style="line-height: 1.0em; padding: 0px;">{userrow.TECHNOLOGY_POINTS}<br /><!-- IF S_ALLY_STATS -->{userrow.TECHNOLOGY_POINTS_PM}<!-- ELSE -->{userrow.TECHNOLOGY_POINTS_ADD}<!-- ENDIF --></dd>
				<dd class="posts" style="line-height: 1.0em; padding: 0px;">{userrow.BATTLE_POINTS}<br /><!-- IF S_ALLY_STATS -->{userrow.BATTLE_POINTS_PM}<!-- ELSE -->{userrow.BATTLE_POINTS_ADD}<!-- ENDIF --></dd>
				<dd class="posts" style="line-height: 1.0em; padding: 0px;">{userrow.TOTAL_POINTS}<br /><!-- IF S_ALLY_STATS -->{userrow.TOTAL_POINTS_PM}<!-- ELSE -->{userrow.TOTAL_POINTS_ADD}<!-- ENDIF --></dd>
			</dl>
		</li>
	<!-- END userrow -->
	</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE space_footer.html -->